@import "ember-bootstrap/bootstrap";

.emt-column-recipe-title {
  width: 100%;
}

.emt-column-recipe-controls {
  min-width: 80px !important;
  max-width: 80px !important;
  text-align: right;
}

.emt-column-recipe-cooking-time {
  min-width: 160px;
  max-width: 160px;
  text-align: center;
}

.emt-column-recipe-servings {
  min-width: 160px;
  max-width: 160px;
  text-align: center;
}

.emt-column-recipe-category {
  min-width: 200px !important;
  max-width: 200px !important;
  text-align: center;
}

.btn.btn-w-std {
  width: 250px !important;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }

  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  @include media-breakpoint-only(lg) {
    column-count: 3;
  }

  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}

.card.w-min {
  min-width: 380px !important;
}

.card.w-max {
  @include media-breakpoint-only(xs) {
    max-width: 480px !important;
  }

  @include media-breakpoint-only(sm) {
    max-width: 480px !important;
  }

  @include media-breakpoint-only(md) {
    max-width: 480px !important;
  }

  @include media-breakpoint-only(lg) {
    max-width: 480px !important;
  }

  @include media-breakpoint-only(xl) {
    max-width: 480px !important;
  }

}
