<div class="app loading">
	<main class="loading__main">
      <p class="text-center"><FaIcon @icon="cog" @spin={{true}} @size="3x"/></p>
      <p class="text-center">Please wait...</p>
	</main>
</div>