<div class="container-fluid bg-light">
	<div class="row">
    <div class="col">
      <p class="text-center"><FaIcon @icon="cog" @spin={{true}} @size="3x"/></p>
      <p class="text-center">{{this.setupMessage}}</p>
      <p class="text-center">{{this.setupDetails}}</p>
    </div>
	</div>
</div>