<div class="bg-light">
  <h5 class="p-2 text-center">Categories</h5>
  <div class="container-fluid bg-light justify-content-center text-center">
    <form class="col-5 mx-auto">
      {{#each @model.categories as |category|}}
        <div class="row align-items-center mb-1">
          <div class="col-9 pr-1">
            <Input @type="text" @value={{category.title}} class="form-control"/>
          </div>
          <div class="col pl-1">
            <button class="form-control btn btn-outline-danger btn-sm" type="button">Delete</button>
          </div>
        </div>
      {{/each}}
      <div class="row align-items-center mb-1">
        <div class="col-10 pr-1">
          <Input @type="text" @value="" placeholder="Add new category" class="form-control"/>
        </div>
        <div class="col pl-1">
          <button class="form-control btn btn-outline-success btn-sm" type="button">Add</button>
        </div>
      </div>
    </form>

    {{!-- <div class="d-inline-flex" style="border: 1px solid black;">
      <div class="">
        <h5 class="text-center">Options</h5>
        <button class="d-block btn btn-outline-primary btn-sm btn-w-std" type="button">Categories</button>
        <button class="d-block btn btn-outline-primary btn-sm btn-w-std" type="button">
            Categories
        </button>

      </div>



    </div>
    <div class="flex-grow-1">
      Settings content
    </div> --}}

  </div>
</div>